.contact-form
{
    width: 31%;
    margin: 0 auto;
    padding-top: 65px;
    .contact-table
    {
        .info
        {
            font-size: 0.8em;
            text-align: justify;
            padding-bottom: 12px;
            color: #1b2598;
        }
        .row
        {
            display: inherit;
            td
            {
                padding-top:10px;
            }
            .label-column
            {
                width:98px;
                .required
                {
                    color:red;
                }
            }
            .entry-column{
                width:324px;
                padding-bottom: 10px;
                .name, .mobile, .email, .message
                {
                    width:100%;
                }
            }
        }
        .contact-button
        {
            border-radius: 4px;
            float: right;
            background: #4387fd;
            transform: inherit;
            position:inherit;
        }
    }  
}

::ng-deep snack-bar-container.success-class {
    background: #1264f3;
}
    
::ng-deep .success-class .mat-simple-snackbar {
    color: white;
}

::ng-deep snack-bar-container.error-class {
    background: red;
}

::ng-deep .error-class .mat-simple-snackbar {
    color: white;
}