<div [formGroup]='parent' [class]="layout.id" [ngClass]='cssClass.div' [ngStyle] = 'cssStyle.div'>
  <label [for]='layout.id' [ngClass]="cssClass.label" [ngStyle]='cssStyle.label'>
    {{layout.label}}
    <abbr *ngIf="layout.validation && layout.validation.required && layout.label"
     style="color:red;" [ngClass] = 'cssClass.abbr' [ngStyle] = 'cssStyle.abbr'>*</abbr>
  </label>
  <input [type]='layout.subtype' [id]='layout.id' [ngClass]="cssClass.input" 
    [placeholder]='layout.placeholder' [ngStyle]='cssStyle.input'
    [formControlName]='layout.name' [value]='layout.value'>
  <button *ngIf='layout.remove' (click)="remove()" [ngStyle] = 'cssStyle.button' 
    [ngClass] = 'cssClass.button'>
    <i class="fa fa-times-circle" [ngClass] = 'cssClass.i' [ngStyle] = 'cssStyle.i'></i>
  </button>
  <small *ngIf="(control.invalid || control.errors) && (control.touched || control.dirty)">{{messages}}</small>
  <!-- <app-gx-error [layout]='layout' [parent]='parent'></app-gx-error> -->
</div>
