<div [class]="layout.id" [ngClass]='cssClass.div' [ngStyle] = 'cssStyle.div'>  
  <mat-form-field *ngIf="!layout.options">
    <input matInput [ngClass]='cssClass.input1' [ngStyle] = 'cssStyle.input1'
    [placeholder]='"name"' [(ngModel)]='name' required>
  </mat-form-field>
  
  <mat-form-field *ngIf="layout.options">
    <input matInput [placeholder]="'name'" [formControl]="myControl" 
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input matInput [ngClass]='cssClass.input2' [ngStyle] = 'cssStyle.input2'
    [placeholder]='"value"' [(ngModel)]='value' required>
  </mat-form-field>
  
  <button (click) = "addToParent()" [ngClass]='cssClass.button' [ngStyle] = 'cssStyle.button'>
    <i class="fa fa-plus-square" [ngClass]='cssClass.i' [ngStyle] = 'cssStyle.i'></i></button>
</div>
