.display-content
{
    width: 100vw;
    height: 94.9vh;
    .header
    {
        position: fixed;
        width: 100%;
    }
    .content
    { 
        height: 100.5%;
        width: 100%;
        background: #dee2c8;
        padding-top: 58px;
        padding-bottom: 22px;
        display: inline-table;
    }
    .footer
    {
        height: 5%;
        background:#e5e692;
        text-align: center;
        color: black;
    }
}

::ng-deep a
{
    cursor: pointer;
}