.content
{
    height: 100vh;
    width: 100vw;
    .header
    {
        height: 8%;
        min-height: 56px;
    }
    .content
    { 
        height: 85%;
        min-height: 562px;
        background: #e9e6ef;
    }
    .footer
    {
        height: 6.5%;
        background:#9575cd;
        text-align: center;
        color: black;
    }
}

::ng-deep a
{
    cursor: pointer;
}