@import '../styles/variables';

.display-content
{
    width: 100vw;
    height: 94.9vh;
    .header
    {
        position: fixed;
        width: 100%;
    }
    .content
    { 
        height: 100.5%;
        width: 100%;
        background: $emart-body-color;
        padding-top: 58px;
        padding-bottom: 22px;
        display: inline-table;
    }
    .footer
    {
        height: 5%;
        background:$emart-footer-color;
        text-align: center;
        color: black;
        font-size: .8em;
        font-weight: 400;
    }
}

::ng-deep a
{
    cursor: pointer;
}