.repair-form
{
    width: 500px;
    margin: 0 auto;
    padding-top: 34px;
    .repair-table
    {
        width:100%;
        border-collapse: separate;
        border-spacing: 0 .5em;
        .info
        {
            font-size: 0.8em;
            text-align: justify;
            padding-bottom: 12px;
            color: #1b2598;
        }
        .table-row
        {
            .label-column
            {
                display: inline-block;
                vertical-align: top;
                width:100px;
                .required
                {
                    color:red;
                }
            }
            .entry-column
            {
                text-align: right;
                width: 400px;
                .name, .mobile, .email, .product, .complaint
                {
                    width:100%;
                }
                .complaint
                {
                    height: 150px;
                }
            }
        }
        .repair-button
        {
            border-radius: 4px;
            float: right;
            background: #bbb9b9;
            transform: inherit;
            position:inherit;
            font-weight: bold;
        }
    }  
} 
::ng-deep snack-bar-container.success-class {
    background: #1264f3;
}
  
::ng-deep .success-class .mat-simple-snackbar {
    color: white;
}

::ng-deep snack-bar-container.error-class {
    background: red;
}

::ng-deep .error-class .mat-simple-snackbar {
    color: white;
}